<% if flash[:notice].present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>

<table class="table table-bordered" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Age</th>
            <th scope="col">Kelas</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">NIS</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
            <% @students.each do |student| %>
    <tbody>
        <tr>
            <td><%= student.name %></td>
            <td><%= student.username %></td>
            <td><%= student.age %></td>
            <td><%= student.kelas %></td>
            <td><%= student.address %></td>
            <td><%= student.city %></td>
            <td><%= student.nis %></td>
            <td><%= link_to 'Detail', student_path(student), class:"btn btn-info" %>  <%= link_to 'Edit', edit_student_path(student), class:"btn btn-warning" %>  <%= link_to 'Delete', student_path(student), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> </td>
        </tr>
    </tbody>
    <% end %>
</table> 

<div class="-25 p-3">
    &nbsp; <%= link_to 'New Student', new_student_path, class:"btn btn-success" %>
</div>

