<br>
<div class="container">
    
        <%= form_for(@student) do |f| %>
            <%= f.label :name %> <br>
            <%= f.text_field :name %> <br>

            <%= f.label :username %> <br>
            <%= f.text_field :username %> <br>

            <%= f.label :age %> <br>
            <%= f.text_field :age %> <br>

            <%= f.label :kelas %> <br>
            <%= f.text_field :kelas %> <br>

            <%= f.label :address %> <br>
            <%= f.text_field :address %> <br>

            <%= f.label :city %> <br>
            <%= f.text_field :city %> <br>

            <%= f.label :nis %> <br>
            <%= f.text_field :nis %> <br>

            <br>
            <%= f.submit "save", class:"btn btn-success" %>
        <% end %>
         
</div>

