<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> 
<br>
<br>
<div class="container">
    Name : <%= @student.name %><br>
    Username : <%= @student.username %><br>
    Age : <%= @student.age %><br>
    Kelas : <%= @student.kelas %><br>
    Address : <%= @student.address %><br>
    City : <%= @student.city %><br>
    NIK : <%= @student.nis %><br>
<br>
<%= link_to 'Back to Home', students_path %>
</div>