<br>

<div class="container">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<%= link_to 'Cancel', teachers_path %>

<%= form_for(@teacher) do |f| %>
    <%= f.label :nik %> <br>
    <%= f.text_field :nik %> <br>

    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>

    <%= f.label :age %> <br>
    <%= f.text_field :age %> <br>

    <%= f.label :kelas %> <br>
    <%= f.text_field :kelas %> <br>

    <%= f.label :mapel %> <br>
    <%= f.text_field :mapel %> <br> <br>

    <%= f.submit "Update Teacher", class:"btn btn-success" %>
<% end %>


</div>