<% if flash[:notice].present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">NIK</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Kelas</th>
            <th scope="col">Mapel</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
        <% @teachers.each do |teacher| %>
    <tbody>
        <tr>
            <td><%= teacher.nik %></td>
            <td><%= teacher.name %></td>
            <td><%= teacher.age %></td>
            <td><%= teacher.kelas %></td>
            <td><%= teacher.mapel %></td>
            <td><%= link_to 'Detail', teacher_path(teacher), class:"btn btn-info" %>  <%= link_to 'Edit', edit_teacher_path(teacher), class:"btn btn-warning" %>  <%= link_to 'Delete', teacher_path(teacher), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> </td>
        </tr>
    </tbody>
    <% end %>
</table> 

<div class="-25 p-3">
    &nbsp; <%= link_to 'New Teacher', new_teacher_path, class:"btn btn-success" %>
</div>
