<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> 
<br>
<br>
<div class="container">
    NIK : <%= @teacher.nik %></br>
    Name : <%= @teacher.name %></br>
    Age : <%= @teacher.age %></br>
    Kelas : <%= @teacher.kelas %></br>
    Mapel : <%= @teacher.mapel %></br>
<br>
<%= link_to 'Back to Home', teachers_path %>
</div>