<% if flash[:notice].present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>

<table class="table table-bordered" >
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID Transaksi</th>
        <th scope="col">Status</th>
        <th scope="col">Upload</th>
        <th scope="col">Aksi</th>
    </tr>
    </thead>
        <% @payments.each do |payment| %>
    <tbody>
        <tr>
            <td><%= payment.id_transaksi %></td>
            <td><%= payment.status %></td>
            <td><%= payment.upload %></td>
            <td><%= link_to 'Detail', payment_path(payment), class:"btn btn-info" %>  <%= link_to 'Edit', edit_payment_path(payment), class:"btn btn-warning" %>  <%= link_to 'Delete', payment_path(payment), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> </td>
        </tr>
    </tbody>
    <% end %>
</table> 

<div class="-25 p-3">
    <%= link_to 'New payment', new_payment_path, class:"btn btn-success"%>
</div>