<br>
<div class="container">
    
<%= form_for(@payment) do |f| %>
    <%= f.label :id_transaksi %> <br>
    <%= f.text_field :id_transaksi %> <br>

    <%= f.label :status %> <br>
    <%= f.text_field :status %> <br>

    <%= f.label :upload %> <br>
    <%= f.text_field :upload %> <br><br>

    <%= f.submit "Save", class:"btn btn-success" %>
<% end %>

</div>