<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> </br>
<br>
<br>
<div class="container">
ID Transaksi : <%= @payment.id_transaksi %></br>
Status : <%= @payment.status %></br>
Upload : <%= @payment.upload %></br>

<br>
<%= link_to 'Back to Home', payments_path %>
</div>