<% if flash[:notice].present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>

<table class="table table-bordered" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Mapel</th>
            <th scope="col">Duration</th>
            <th scope="col">Nilai</th>
            <th scope="col">Keaktifan</th>
            <th scope="col">Level</th>
            <th scope="col">Student ID</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <% @exams.each do |exam| %>
    <tbody>
        <tr>
            <td><%= exam.title %></td>
            <td><%= exam.mapel %></td>
            <td><%= exam.duration %></td>
            <td><%= exam.nilai %></td>
            <td><%= exam.keaktifan %></td>
            <td><%= exam.level %></td>
            <td><%= exam.student_id %></td>
            <td><%= link_to 'Detail', exam_path(exam), class:"btn btn-info" %>  <%= link_to 'Edit', edit_exam_path(exam), class:"btn btn-warning" %> <%= link_to 'Delete', exam_path(exam), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> </td>
        </tr>
    </tbody>
    <% end %>
</table> 

<div class="-25 p-3">
    &nbsp; <%= link_to 'New Exam', new_exam_path, class:"btn btn-success"%>
</div>
