<br>
<div class="container">

    <%= form_for(@exam) do |f| %>
        <%= f.label :title %> <br>
        <%= f.text_field :title %> <br>

        <%= f.label :mapel %> <br>
        <%= f.text_field :mapel %> <br>

        <%= f.label :duration %> <br>
        <%= f.text_field :duration %> <br>

        <%= f.label :nilai %> <br>
        <%= f.text_field :nilai %> <br>

        <%= f.label :keaktifan %> <br>
        <%= f.text_field :keaktifan %> <br>

        <%= f.label :level %> <br>
        <%= f.text_field :level %> <br>

        <%= f.label :student_id %> <br>
        <%= f.text_field :student_id %> <br>

        <br>
        <%= f.submit "Save", class:"btn btn-success" %>
    <% end %>

</div>