<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> 
<br>
<br>
<div class="container">
    Title : <%= @exam.title %></br>
    Mapel : <%= @exam.mapel %></br>
    Duration : <%= @exam.duration %></br>
    Nilai : <%= @exam.nilai %></br>
    Keaktifan : <%= @exam.keaktifan %></br>
    Level : <%= @exam.level %></br>
    Student ID : <%= @exam.student_id %></br>
<br>
<%= link_to 'Back to Home', exams_path %>
</div>
