<br>

<div class="container">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<%= link_to 'Cancel', reports_path %>

<%= form_for(@report) do |f| %>
    <%= f.label :title %> <br>
    <%= f.text_field :title %> <br>

    <%= f.label :hasil %> <br>
    <%= f.text_field :hasil %> <br>

    <%= f.label :mapel %> <br>
    <%= f.text_field :mapel %> <br>

    <%= f.label :teacher_id %> <br>
    <%= f.text_field :teacher_id %> <br>

    <%= f.label :student_id %> <br>
    <%= f.text_field :student_id %> <br>

    <%= f.label :date %> <br>
    <%= f.text_field :date %> <br><br>

    <%= f.submit "Update Report", class:"btn btn-success" %>
<% end %>
</div>
