<% if flash[:notice].present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>

<table class="table table-bordered" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Hasil</th>
            <th scope="col">Mapel</th>
            <th scope="col">Teacher ID</th>
            <th scope="col">Student ID</th>
            <th scope="col">Date</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
        <% @reports.each do |report| %>
    <tbody>
        <tr>
            <td><%= report.title %></td>
            <td><%= report.hasil %></td>
            <td><%= report.mapel %></td>
            <td><%= report.teacher_id %></td>
            <td><%= report.student_id %></td>
            <td><%= report.date %></td>
            <td><%= link_to 'Detail', report_path(report), class:"btn btn-info" %>  <%= link_to 'Edit', edit_report_path(report), class:"btn btn-warning" %>  <%= link_to 'Delete', report_path(report), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> </td>
        </tr>
    </tbody>
    <% end %>
</table> 

<div class="-25 p-3">
    <%= link_to 'New Report', new_report_path, class:"btn btn-success"%>
</div>
