<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> 
<br>
<br>
<div class="container">
    Title : <%= @report.title %></br>
    Hasil : <%= @report.hasil %></br>
    Mapel : <%= @report.mapel %></br>
    TeacherID : <%= @report.teacher_id %></br>
    StudentID : <%= @report.student_id %></br>
    Date : <%= @report.date %></br>
<br>
<%= link_to 'Back to Home', reports_path %>
</div>
